body{ text-align: center;
      background-color: #5499C7;}
      
.main{ background-color: #222831;
       border-style: 2px groove;
       Padding: 3% 4% 10% 4%;
       margin: 8% 10%; }


.dice1{ 
               position: relative;
               left: 15%;
               padding: 1% 1%;
               }
.dice2 { 
               position: relative;
               right : 15%;
               padding: 1% 1%;
               }
              
img{ width: 45%;}

h1,.btn{ padding: 2% 2%;
    font-family: 'Orbitron', sans-serif; 
    font-size: 3rem;
    color: #E0F7FA;
    margin: 4% 1%;
    font-weight: bolder;}
    
    h2{ font-family: 'Audiowide', cursive;
    font-size: 4rem;
    color: #d01257;
    padding: 1% 1%;}
    
h3{ padding: 1% 1%;
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
    font-weight: bolder;}

@media (max-width: 1028px) {
	
	.dice1{ left: 0;
              }  
    .dice2{ right: 0;
              }  
       }
